@import '../../../../styles/common.scss';

.contentHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  .productsTotal {
    font-size: 13px;
  }

  .sortBtns {
    .sortBtn {
      padding-right: 7px;
      color: $color-gray;
      font-size: 13px;

      &::after {
        margin-left: 7px;
        content: '|';
      }

      &:last-child {
        padding-right: 0;

        &::after {
          content: '';
        }
      }

      &:hover {
        color: $color-black;
      }
    }
    .checked {
      color: $color-black;
    }
  }
}
