@import '../../styles/common.scss';

.productList {
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  @include flexCenter;
  background-color: $bg-gray;
  min-width: 1050px;
  padding-left: 20px;
  padding-right: 20px;

  .productListContent {
    width: 100%;
    max-width: 1050px;
  }
}
