@import '../../styles/variables.scss';

.productList {
  @include flexCenter;
  position: relative;
  background-color: $bg-gray;
  min-width: 1050px;
  padding-left: 20px;
  padding-right: 20px;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .loading {
    margin: 50px 0;
    font-size: 24px;
    font-weight: 400;
    color: $color-gray;
    text-align: center;
  }

  .productListContent {
    width: 100%;
    max-width: 1010px;
  }
}
