@import '../../styles/variables.scss';
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cartTitle {
    padding: 70px 0;
    font-size: 28px;
    font-weight: 600;
  }

  .cartContent {
    display: flex;
  }
}
