@import './variables.scss';
* {
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  color: $color-black;
}

body {
  background-color: $bg-gray;
}

a {
  color: $color-black;
  text-decoration: none;
}

input {
  border: none;
  background: transparent;
}

input:focus {
  outline: none;
}
