@import '../../../../../styles/common.scss';

.product {
  display: flex;
  flex-direction: column;
  width: 330px;
  cursor: pointer;

  .imgContainer {
    position: relative;
    width: 100%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cartBtn {
      @include flexCenter;
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 45px;
      height: 45px;
      background-color: $green;
      border-radius: 50%;
      border: none;
      font-size: 24px;
      cursor: pointer;
      opacity: 0.5;

      path {
        color: #fafafa;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .name {
    padding: 20px 0;
    font-size: 23px;
  }

  .price {
    font-size: 18px;
    font-weight: 800;
  }

  .information {
    padding: 20px 0;
    font-size: 14px;
    color: $color-gray;
  }
}
