@import '../../../styles/common.scss';

.productListHeader {
  @include flexCenter;
  flex-direction: column;

  .menuName {
    margin: 35px 0 20px 0;
    font-size: 30px;
    font-weight: 600;
  }
  .categories {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border: 1px solid $border-gray;
  }
  .category {
    padding: 0 10px;
    font-size: 14px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &.category-checked {
      font-weight: 600;
      color: $green;
    }
  }
}
