@import '../../styles/common.scss';

$borderRadius: 3px;
$letterSpacing: -1.2px;

@mixin stopDrag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin loginIdPwStyle {
  width: 340px;
  height: 54px;
  border: solid 1px #cacaca;
  border-radius: $borderRadius;
  font-size: 14px;
  padding-right: 19px;
  padding-left: 19px;
}

@mixin BtnStyle {
  width: 340px;
  height: 54px;
  margin-top: 10px;
  border: solid 1px #333333;
  border-radius: $borderRadius;
  color: $green;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: -1px;
}

.login {
  @include flexCenter;
  @include stopDrag;
  width: 100%;
}

.loginSection {
  width: 340px;
  padding-top: 90px;
}

.loginText {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: $letterSpacing;
}

.loginForm {
  padding-top: 36px;
}

.loginId {
  @include loginIdPwStyle;
}

.loginId:hover {
  color: black;
}

.loginPw {
  @include loginIdPwStyle;
  margin-top: 10px;
}

.checkboxBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding-top: 13px;
  padding-bottom: 28px;
}

.CheckboxSection {
  display: flex;
  align-items: center;
}

.securityCheckbox[id='checkboxLabel'] {
  width: 17px;
  height: 16px;
  // color: black;
  // background-color: $green;
}

.checkboxBar {
  letter-spacing: $letterSpacing;
}
.serchSectionBar {
  margin-right: 5px;
  margin-left: 5px;
}

.loginBtn {
  @include BtnStyle;
  background-color: $green;
  color: $bg-white;
}

.disabled {
  background-color: black;
}

.joinBtn {
  @include BtnStyle;
  background-color: $bg-white;
  color: $green;
}
