@import '../../styles/variables.scss';

.modal {
  @include flexCenter;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.3);

  .modalContent {
    background-color: $bg-white;
    border-radius: 15px;
  }
}
