@import '../../styles/common.scss';

.footer {
  @include flexCenter;
  width: 100%;
  background-color: $bg-gray;
  min-width: 1050px;
  padding-right: 20px;
  padding-left: 20px;
  .footerSection {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    padding-top: 30px;
    padding-bottom: 20px;
    .footerLeftSection {
      width: 505px;
      .CustomerHappinessCenter {
        font-size: 20px;
        font-weight: 600;
        padding-left: 10px;
      }
      .CustomerCenterBox {
        display: flex;
        justify-content: space-between;
        justify-content: flex-start;
        padding-top: 16px;
        .phoneNumber {
          display: flex;
          align-items: center;
          width: 145px;
          font-size: 28px;
          font-weight: 600;
          margin-right: 10px;
        }
        .kakaotalk {
          display: flex;
          align-items: center;
          width: 145px;
          font-size: 14px;
          font-weight: 600;
          margin-right: 10px;
        }
        .kakaotalkText {
          text-align: center;
          width: 140px;
          border: solid 1px $color-gray;
          border-radius: 5px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .everydayCenter {
          font-size: 14px;
          height: 22px;
        }
        .operatingHours {
          color: $color-gray;
          font-size: 14px;
          height: 22px;
        }
      }
    }

    .footerRightSection {
      width: 505px;
      .introduceBar {
        display: flex;
        justify-content: space-between;
        height: 20px;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 30px;
      }
      .introduceText {
        color: $color-gray;
        font-size: 12px;
        line-height: 1.5;
      }
      .businessText {
        color: $green;
      }
      .corpText {
        color: $color-gray;
        font-size: 12px;
        padding-top: 16px;
      }
    }
  }
}
