@import '../../styles/variables.scss';

.footer {
  @include flexCenter;
  width: 100%;
  min-width: 1050px;
  padding: 0px 20px;
  background-color: $bg-gray;
  border-top: solid 1px $border-gray;

  .footerSection {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    padding-top: 50px;
    padding-bottom: 50px;

    .footerLeftSection {
      width: 505px;

      .CustomerHappinessCenter {
        padding-left: 10px;
        font-size: 20px;
        font-weight: 600;
      }

      .CustomerCenterBox {
        display: flex;
        justify-content: flex-start;
        padding-top: 16px;

        .phoneNumber {
          display: flex;
          align-items: center;
          width: 145px;
          margin-right: 10px;
          font-size: 28px;
          font-weight: 600;
        }

        .kakaotalk {
          display: flex;
          align-items: center;
          width: 145px;
          margin-right: 10px;
          font-size: 14px;
          font-weight: 600;
        }

        .kakaotalkText {
          text-align: center;
          width: 140px;
          padding-top: 10px;
          padding-bottom: 10px;
          border: solid 1px $color-gray;
          border-radius: 5px;
        }

        .everydayCenter {
          height: 22px;
          font-size: 14px;
        }

        .operatingHours {
          height: 22px;
          color: $color-gray;
          font-size: 14px;
        }
      }
    }

    .footerRightSection {
      width: 505px;
      .introduceBar {
        display: flex;
        justify-content: space-between;
        height: 20px;
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: 600;
      }

      .introduceText {
        color: $color-gray;
        line-height: 1.5;
        font-size: 12px;
      }

      .businessText {
        color: $green;
      }

      .corpText {
        padding-top: 16px;
        color: $color-gray;
        font-size: 12px;
      }
    }
  }
}
